{% extends "base.html" %}

{% block content %}

    <div id="Page1">
        <div class="row mt50">

            <div class="input-field col s6 offset-s3">
                <center>
                    <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page1','Page2', 'Page3', 'Page4');">Rechercher</a>
                    <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page2','Page1', 'Page3', 'Page4');">Mes Amis</a>
                    <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page3','Page1', 'Page2', 'Page4');">Mes demandes reçues</a>
                    <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page4','Page1', 'Page2', 'Page3');">Mes demandes en cours</a>
                    <form class="search" action="{% url 'searchuser' %}" method='post'>
                        {% csrf_token %}
                        <input type="search" placeholder="Rechercher..." name="usr_query"
                               value='{{ query }}'>
                    </form>
                </center>
            </div>

            <table class="table striped col s10 offset-s1">
                <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Ajouter</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users%}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td><a href="{% url 'askfriend' id=user.id %}"><i class="material-icons">check_circle</i></a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Il n'y a plus d'utilisateur à ajouter en ami</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>


    <div id="Page2" style="display:none">
        <div class="input-field col s6 offset-s3">
            <center>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page1','Page2', 'Page3', 'Page4');">Rechercher</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page2','Page1', 'Page3', 'Page4');">Mes Amis</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page3','Page1', 'Page2', 'Page4');">Mes demandes reçues</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page4','Page1', 'Page2', 'Page3');">Mes demandes en cours</a>
            </center>
        </div>
        <div class="row mt50">
            <table class="table striped col s10 offset-s1">
                <thead>
                <tr>
                    <th>Nom :</th>
                </tr>
                </thead>
                <tbody>
                {% for friend in friends %}
                    <tr>
                        <td>{{ friend }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Vous n'avez pas encore d'amis</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="Page3" style="display:none">
        <div class="input-field col s6 offset-s3">
            <center>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page1','Page2', 'Page3', 'Page4');">Rechercher</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page2','Page1', 'Page3', 'Page4');">Mes Amis</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page3','Page1', 'Page2', 'Page4');">Mes demandes reçues</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page4','Page1', 'Page2', 'Page3');">Mes demandes en cours</a>            </center>
        </div>

        <div class="row mt50">
            <table class="table striped col s10 offset-s1">            <thead>
            <tr>
                <th>Demande d'ami de :</th>
                <th>Accepter</th>
                <th>Refuser</th>
            </tr>
            </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.from_user }}</td>
                        <td><a href="{% url 'addfriend' id=request.from_user_id %}"><i class="material-icons">check_circle</i></a></td>
                        <td><a href="{% url 'refusfriend' id=request.from_user_id %}"><i class="material-icons">close</i></a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Vous n'avez pas recu de demande d'amis</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <div id="Page4" style="display:none">
        <div class="input-field col s6 offset-s3">
            <center>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page1','Page2', 'Page3', 'Page4');">Rechercher</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page2','Page1', 'Page3', 'Page4');">Mes Amis</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page3','Page1', 'Page2', 'Page4');">Mes demandes reçues</a>
                <a href="#" class="btn waves-effect red darken-2 btn-co" onclick="return show('Page4','Page1', 'Page2', 'Page3');">Mes demandes en cours</a>            </center>
        </div>
        <div class="row mt50">

            <table class="table striped col s10 offset-s1">
                <thead>
                <tr>
                    <th>Utilisateur : </th>
                    <th>Demande envoyé le :</th>
                </tr>
                </thead>
                <tbody>
                {% for myask in myasks %}
                    <tr>
                        <td>{{ myask.to_user }}</td>
                        <td>{{ myask.created }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Vous n'avez pas de demande en cours</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>function show(shown, hidden1, hidden2, hidden3) {
        document.getElementById(shown).style.display='block';
        document.getElementById(hidden1).style.display='none';
        document.getElementById(hidden2).style.display='none';
        document.getElementById(hidden3).style.display='none';
        return false;
    }</script>
{% endblock %}
