input[type=range]+.thumb {
    position: absolute;
    top: 10px;
    left: 0;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #d32f2f;
    margin-left: 7px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=range]::-webkit-slider-thumb {
    background-color: #d32f2f;
  }

.input-field input:focus + label {
    color: #d32f2f !important;
  }

.row .input-field input:focus {
    border-bottom: 1px solid #d32f2f !important;
    box-shadow: 0 0px 0 0 #d32f2f !important
}

input[type=range] {
    margin: 30px 0;
}


.datepicker-date-display {
    background-color: #d32f2f;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #d32f2f;
}

.datepicker-table td.is-selected {
    background-color: #d32f2f;
    opacity: 0.5;
}
.datepicker-table td.is-today {
    color: #d32f2f;
}

.btn, .btn-large, .btn-small {
    background-color: #d32f2f;
}

.material-icons {
    color: #d32f2f;
}

.alert {
  background-color: white;
  color: white;
}

.closebtn {
  color: #d32f2f;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}