{% extends 'base.html' %}

{% block content %}
    <center>

        <h2 class="flow-text red-text darken-2">Créer votre annonce : </h2>
        <div class="row mt50">
            <div class="col s6 offset-s3">
                <form method="POST" class="post-form">
                    {% csrf_token %}

                    <div class="row">
                        <input style="display: none;" type="text" name="ad" value="{{ ad.id }}" maxlength="25" required id="ad">
                    </div>

                    <div class="row">
                        <input style="display: none;" type="text" name="creator" value="{{ user.username }}" maxlength="25" required id="creator">
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="team_name" maxlength="30" required id="team_name">
                            <label for="team_name">Nom d'equipe :</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="captain" maxlength="25" value="{{ user.first_name }} {{ user.last_name }}" required id="captain">
                            <label for="captain">Capitaine :</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player1" maxlength="25" id="player1">
                            <label for="player1">Joueur 1 :</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player2" maxlength="25" id="player2">
                            <label for="player2">Joueur 2 :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player3" maxlength="25" id="player3">
                            <label for="player3">Joueur 3 :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player4" maxlength="25" id="player4">
                            <label for="player4">Joueur 4 :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player5" maxlength="25" id="player5">
                            <label for="player5">Joueur 5 :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="player6" maxlength="25" id="player6">
                            <label for="player6">Joueur 6 :</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default red darken-2">Save</button>
                            <a class="btn waves-effect red darken-2 btn-co" href="{% url 'home' %}">Annuler</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </center>

{% endblock %}