{% extends "base.html" %}

{% block content %}
    <h2 class="flow-text red-text darken-2 center">Liste des sixtes :</h2>
    <div>
        <div class="row mt50">
            <table class="table striped col s10 offset-s1">
                <thead>
                <tr>
                    <th>Nom du sixte</th>
                    <th>Lieu</th>
                    <th>Prix/Equipe</th>
                    <th>Date et heure</th>
                    <th>Date limite d'inscription</th>
                    <th>Lien event</th>
                    {% if user.is_authenticated %}
                        <th>Créer equipe</th>
                    {% endif %}

                </tr>
                </thead>
                <tbody>
                {% for ad in ads %}
                    <tr>
                        <td>{{ ad.sixte_name }}</td>
                        <td>{{ ad.sixte_location }}</td>
                        <td>{{ ad.sixte_prix }}€</td>
                        <td>{{ ad.sixte_date }}</td>
                        <td>{{ ad.sixte_limit }}</td>
                        <td><a href="{{ ad.sixte_link }}">  <i class="material-icons">arrow_forward</i></a></td>
                        {% if user.is_authenticated %}
                            <td><a href="{% url 'create_team' id=ad.id %}"><i class="material-icons">add_circle_outline</i></a></td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td>Il n'y a aucun sixte encore renseigné</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}