{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="section">
                        {% for team in teams %}
                            <div class="col s12 m6 l4">
                                <div class="card">
                                    <h2 class="flow-text red-text darken-2 center">{{ team.team_name }}</h2><ul class = "collection">
                                    <li class = "collection-item">{{ team.captain }}</li>
                                    <li class = "collection-item">{{ team.player1 }}</li>
                                    <li class = "collection-item">{{ team.player2 }}</li>
                                    <li class = "collection-item">{{ team.player3 }}</li>
                                    <li class = "collection-item">{{ team.player4 }}</li>
                                    <li class = "collection-item">{{ team.player5 }}</li>
                                    <li class = "collection-item">{{ team.player6 }}</li>
                                    <li class = "collection-item">
                                        <a href="{% url 'edit_team' id=team.id %}"><i class="material-icons">edit</i></a>
                                        <a href="{% url 'del_team' id=team.id %}"><i class="material-icons">delete</i></a>
                                        <p class="flow-text red-text darken-2 center">Sixte : {{ team.ad }}</p>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        {% empty %}
                            <h4 class="flow-text red-text darken-2 center">Vous n'etes capitaine d'aucune équipe actuellement</h4>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}