{% load staticfiles %}
<!DOCTYPE HTML>
<html>
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 0.8">
        <title>Sixtes</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
{% endblock %}


<body>
{% block nav %}
    {% if user.is_authenticated %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper red darken-2">
                    <a href="{% url 'home' %}" class="brand-logo right">Mes Sixtes</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:white">menu</i></a>

                    <ul class="left hide-on-med-and-down">
                        <li><a class="modal-trigger" href="#modal1"><i style="color:white" class="material-icons">notifications</i></a></li>
                        <li class="active"><a href="{% url 'home' %}">Liste des sixtes</a></li>
                        <li><a href="{% url 'create_ad' %}">Ajouter un sixte</a></li>
                        <li><a href="{% url 'my_ad' %}">Mes sixtes</a></li>
                        <li><a href="{% url 'my_teams' %}">Mes equipes</a></li>
                        <li><a href="{% url 'friendlist' %}">Mes amis</a></li>
                        <li><a href="{% url 'logout' %}">Deconnexion</a></li>
                    </ul>

                    <ul id="mobile-demo" class="side-nav red darken-2">
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li><a class="modal-trigger" href="#modal1"><i style="color:white" class="material-icons">notifications</i></a></li>
                                <li class="active"><a href="{% url 'home' %}" style="color:white">Liste des sixtes</a></li>
                                <li><a href="{% url 'create_ad' %}" style="color:white">Ajouter un sixte</a></li>
                                <li><a href="{% url 'my_ad' %}" style="color:white">Mes sixtes</a></li>
                                <li><a href="{% url 'my_teams' %}" style="color:white">Mes equipes</a></li>
                                <li><a href="{% url 'friendlist' %}" style="color:white">Mes amis</a></li>
                                <li><a href="{% url 'logout' %}" style="color:white">Deconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <!-- Modal Notification Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row mt50">
                    <h2 class="flow-text red-text darken-2">Vos notifications : </h2>
                    <a href="{% url 'unread'%}">  <i class="material-icons">delete_forever</i></a>
                    <table class="responsive-table striped col s10 offset-s1">
                        <thead>
                        <tr>
                            <th>Message</th>
                            <th>De</th>
                            <th>Il y a</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notif in notifs%}
                            <tr>
                                <td>{{ notif.verb }}</td>
                                <td>{{ notif.actor }}</td>
                                <td>{{ notif.timesince }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>Aucune Notification</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
            </div>
        </div>



    {% else %}
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper red darken-2"> <a href="{% url 'home' %}" class="brand-logo right">Mes Sixtes</a> <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color:white">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{% url 'signup' %}" style="color:white">S'inscrire</a></li>
                        <li><a href="{% url 'login' %}" style="color:white">Connexion</a></li>
                    </ul>
                    <ul id="mobile-demo" class="side-nav red darken-2">
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li><a href="{% url 'signup' %}" style="color:white">S'inscrire</a></li>
                                <li><a href="{% url 'login' %}" style="color:white">Connexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    {% endif %}

{% endblock %}

<div>
    {% block content %}
    {% endblock %}
</div>

{% block script %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            labelMonthNext: 'Mois suivant',
            labelMonthPrev: 'Mois précédent',
            labelMonthSelect: 'Selectionner le mois',
            labelYearSelect: 'Selectionner une année',
            monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
            monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
            weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
            weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
            weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
            today: 'Aujourd\'hui',
            clear: 'Réinitialiser',
            close: 'Fermer',
            format: 'dd/mm/yyyy'
        });

        $('.datepicker').on('mousedown',function(event){
            event.preventDefault();
        })
    </script>
    <script>
        $(".button-collapse").sideNav();
    </script>

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}

</body>
</html>