{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
{% endblock %}

<body>
<nav>
    {% block nav %}
        <div class="nav-wrapper red darken-2">
            <a href="#" class="brand-logo right">Mes Sixtes</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Liste des sixtes</a></li>
                <li><a href="{% url 'create_ad' %}">Ajouter un sixte</a></li>
            </ul>
        </div>
    {% endblock %}
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>

{% block script %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
</body>